
body
{
    margin: 0;
    padding: 0;
   
   font-family: "Open Sans", sans-serif;
    color: white;
   
}
.section-one
{
   
    max-width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("images/background\ image.webp");
    background-size: cover; 
    background-repeat: no-repeat; 
       
}
header
{
   height: 10vh;
   padding: 1.5em 2em;
}

.header-div
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 0.5em;
 }

.logo
{
    width: 9.25rem;
    height: 2.5rem;
}
select
{
    background-color: black;
    position: relative;
    color: white ;
    max-width:123px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 7px;
   
}
select option
{
    padding-left: 7px;
}
#select:focus{
    border: 2px solid white;

}

#form1 button{
    max-width: 76px;
    height: 32px;
    background-color: red;
    border: none;
    color: white ;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 7px;
}

#form1 button:hover{

    cursor:pointer;
    background-color: #bd020c;
}

.section-1-heading
{
    position: relative;
     top: 20%;
    text-align: center;

}
h1{
    font-size: 2.5rem;
    font-weight:900;
   
    margin: 0;
}
p, h3{

    font-size: 1rem;
    font-weight: 400;
    

}

#form2

{
    display:flex;
   justify-content: center;
   gap:5px;
    max-width: 65.5rem;
    text-align: center;
    padding-left: 5.75rem;

}

#form2 input
{
    /* max-width: 364px;
    height: 54px;
    opacity: .5;
    text-align: start;

    color: white;   
    font-size: 1.25rem;
    background-color: black;
    padding-left: 10px; */
    border: solid .5px white; 
   
    border-radius: 5px; 
    line-height: 1.5rem;
    font-size: 1rem;
    min-height: 16px;
    min-width: 16px;
    width:25rem ;
    color: white;
    background: transparent;
   
   

}

#form2 button
{
    height: 56px;
    max-width: 240px;
    width:25rem ;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: red;
    border:none;
    color: white;
    font-weight: bold;
}

#form2 button:hover{
    cursor:pointer;
    background-color: #bd020c;
}

.section-two
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 85vh;
    background-color: black;
    border-top: 8px solid rgb(51, 51, 51);
}
.section-2-main-div
{
    height: 80%;
    width: 80%;
    position: relative;
    display:flex;
    margin: auto;
}
#section-2-img
{
    height: 100%;
    width: 50%;
}


.section-2-sub-div *
{
    margin: 0;
    padding: 0;
}

.section-2-sub-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-2-sub-div h2{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 10px 0;
}

.vedio
{
    width: 36%;
     height: 90%;
    position: absolute;
    left: 50.4%;
    top:3%;
    z-index: 1;
    
    
}

footer{
    background-color: black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;      
    border-top: 8px solid rgb(51, 51, 51);
}
.call
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.un_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer ul
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style:none;
    text-decoration: none;
    gap: 5px;
    color: white;
    
}

li a , .call p , .call a
{
    color: white;
}








 @media (max-width:960px)
{

    .logo{
        width: 5.5625rem;
        height: 1.5rem;
    }


}
@media screen and (min-width: 960px)
{
    h1
    {
        font-size: 3rem;
    font-weight: 900;
    }
    p , h3 
    {
        font-size: 1.5rem;
        font-weight: 400;
    }

    
}

@media (max-width:400px)
{

    .logo{
        width:30%;
    }

  
    .section-
      #form1 ,select ,#form2
      {
          width:30%;
          font-size: 0.5rem;
      }
      
    
    .header-div
    {
        display: flex;
        flex-direction: column;
    }
    .section-1-heading
    {
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }
    
    #form2
    {
        flex-direction: column;
    }

}





